{% extends 'base.html' %}

{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4 mb-4">Update Profile</h1>
      </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
        <a href="{% url 'index' %}">
          <i class="fas fa-home"></i> Home</a>
        </li>
        
        <li class="breadcrumb-item">
          <a href="{% url 'realtors' %}"> Realtor</a>
        </li>

        <li class="breadcrumb-item active"> Update Profile</li>
      </ol>
      </nav>
    </div>
    </section>
    <section id="UpdateLProfiuleForm" class="py-5 bg-secondary text-black">
        <div class="container">
            <form method="POST" class="post-form" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="color: black;" for="{{ form.name.name }}">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="color: black;" for="{{ form.description.description }}">{{ form.description.label }}</label>
                            {{ form.description }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="color: black;" for="{{ form.phone.phone }}">{{ form.phone.label }}</label>
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="alert alert-danger">
                                    {{ form.phone.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="color: black;" for="{{ form.email.email }}">{{ form.email.label }}</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert alert-danger">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label style="color: black;" for="{{ form.photo.photo }}">{{ form.photo.label }}</label>
                            {{ form.photo }}
                            {% if form.photo.errors %}
                                <div class="alert alert-danger">
                                    {{ form.photo.errors }}
                                </div>
                            {% endif %}
                            {% if form.instance.photo %}
                                <img src="{{ form.instance.photo.url }}" alt="Profile Photo" class="img-thumbnail" style="width: 200px; height: 200px;">
                                <br/>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!--{{ form.as_p}}-->
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        </div>
    </section>


{% endblock %}